<%- include("header") -%>
<div class="about">
<h1> About the app</h1>
<h2>
 A to do list Web app where user can create a List and can add the
task into their list. After completion of the task user can remove it
from the List. User can also create dynamic lists according to their need. 
feature: create , delete , create custom lists and can add and
delete items into custom 
</h2>
</div>
<%- include("footer") -%>