<%- include("header") -%>
<div class="">
<h2 style="text-align: center;"> Create New List </h2>

<form class="box" action="/createlist" method="post">
    <input type="text" name="listName" placeholder="New List"  value="" autocomplete=off>
    <button type="submit" name="list" value="listName">+</button>
  </form>
</div>
<%- include("footer") -%>r